h1 {
   text-align: center;
    padding-top:80px;
}

header {
    background-color: lightseagreen;
    width: 100%;
    background-size: 100%;
}

.row{
    background-color: rgb(224, 222, 222);
    padding-top: 20px;
 }

.info{
    padding-left: 10px;
    font-size: large;
    color: rgb(21, 21, 21);
}

.button{
    background-color: darkblue;
    color: white;
}

